@page "/product"
@using StockApp.Data
@inject ProductService _productService
@implements IDisposable


<PageTitle>Products</PageTitle>

@if (_productService.Products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <th>Name</th>
        <th>Manufacture</th>
        <th>Basket</th>
    </thead>
    <tbody>
        @foreach (var product in _productService.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Manufacturer</td>
                <td>
                    <p role="status">Count:@product.Count</p>
                    <button class="btn btn-primary" @onclick="()=>product.Up()">+</button>
                    <button class="btn btn-primary" @onclick="()=>product.Down()">-</button>
                </td>
            </tr>
        }
    </tbody>
</table>
}


@code{
    protected override void OnInitialized()
    {
        foreach(var product in _productService.Products)
            product.OnChange += () => {InvokeAsync(StateHasChanged);};
    }

    public void Dispose()
    {
        foreach(var product in _productService.Products)
            product.OnChange -= StateHasChanged;
    }
}